h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
}

h2 {
    text-align: left;
    font-size: 40px;
    color: white;
    background-color: rgb(180, 0, 0);
    padding: 0.5em;
}

h3 {
    text-align: left;
    font-size: 30px;
    color: white;
    background-color: black;
}

p {
    font-size: 24px;
    color: black;
    margin: 20px 0px;
}

footer {
    background-color: rgb(180, 0, 0);
    color: white;
    text-align: center;
    font-size: 20px;
}

#vice {
    color: black;
}

/* NAVIGAČNÍ BAR */
.navbar {
    font-size: 25px;
    background-color: rgb(180, 0, 0);
    padding: 10px;
}
.navbar ul {display: flex;}
.navbar ul li {
    margin-left: 1em;
}

i {
    color: white;
}

ul li a {
    color: white;
}

.navbar ul li a {

    text-decoration: none;
  }

  .navbar ul li a:hover {
    padding: 12px;
    background-color: white;
    color: black;
  }

ol li a {
    color: black;
}